<p>Incidencia Autorizada por: {{mailData.employeeAutoriza}}</p>
<p>El empleado : {{mailData.employeeNumber}} {{employee}}</p>
<p>Tiene la incidencia : {{mailData.incidence}}</p>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{envVariables.port}}">Sistema OITS</a>
