<p>Incidencia Autorizada por: {{employeeAutoriza}}</p>
<p>El empleado : {{employeeNumber}} {{employee}}</p>
<p>Tiene la incidencia : {{incidence}}</p>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>
