<p>Incidencia "{{incidence}}" Creada exitosamente</p>
<p>El empleado : {{employeeNumber}} {{employee}}</p>
<p>Tiene la incidencia : {{incidence}}</p>
<p>Dia: {{dia}}</p>
<p>Dias efectivos: {{efectivos}}</p>
<p>Horas: {{totalHours}}</p>
<p><b style="color: red;">Este correo no corresponde a ninguna Autorización o Cancelación de incidencias, por favor espera el estatus de tu incidencia en otro correo.</b></p>
<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:4200">Sistema OITS</a>
