<p>Incidencias pendientes por autorizar.</p>
<ul>
    {{#each lideres}}
    <li>Lider: #{{this.leaderEmployeeNumber}} - {{this.leaderName}}</li>
    <ul>
        {{#each this.employees}}
        <li>Empleado: # {{this.employeeNumber}} - {{this.name}}</li>
        <ul>
            {{#each this.incidencia}}
            <li>{{this.name}}: {{this.fecha}}</li>
            {{/each}}
        </ul>
        {{/each}}
    </ul>
    {{/each}}
</ul>

<p>Para más información revisar vista de autorización de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>