<p>Incidencias pendientes por autorizar.</p>
<ul>
    {{#each empleados}}
    <li>Lider: #{{this.employeeNumber}} - {{this.name}}</li>
    <ul>
        {{#if this.empleados.length}}
            {{#each this.empleados}}
            <li>Empleado: # {{this.employeeNumber}} - {{this.name}}</li>
            <ul>
                {{#if this.incidencia.length}}
                    {{#each this.incidencia}}
                    
                    <li>Incidencia: {{this.name}}</li>
                    <ul>
                        <li>Dias de la incidencia: {{this.fecha}}</li>
                        <li>Fecha de creaci칩n: {{this.created_at}}</li>
                        <li>Total de dias sin autorizar: {{this.dias_transcurrido}}</li>
                    </ul>
                    {{/each}}
                {{/if}}
            </ul>
            {{/each}}
        {{/if}}
    </ul>
    {{/each}}
</ul>

<p>Para m치s informaci칩n revisar vista de autorizaci칩n de incidencias.</p>
<a href="http://192.168.51.39:{{port}}">Sistema OITS</a>